# I prefer to use on standard line ending on every operating system, and that standard is LF.  Windows can piss off.
*.h text eol=lf
*.c text eol=lf
*.hpp text eol=lf
*.cpp text eol=lf
*.io text eol=lf
*.inl text eol=lf
*.txt text eol=lf
